* {
	font-family: Arial;
	text-decoration: none;
}
header, footer {
	padding: 15px 0;
	margin: 0;
	color: white;
	border-bottom: solid gray 1px;
	background: #000000;
}
div a {
	color: #0080BB;
}
h3 {
	color: #2E2E2E;
}

h5 {
	text-align: center;
	margin-bottom: 15px;
}
nav a {
	padding: 10px 15px;
	color: #eee;
	text-shadow: 2px 2px 4px #000;
	font-size: 13px;
}

nav ul {
	text-decoration: none;
	list-style-type: none;
	padding-top: 45px;
	padding-right: 66px;
	margin: 0 -15px 0 0;
	float: right;
	font-size: 14px;
}

nav li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

nav li:hover a {
	background: #585858;
}


nav a:hover {
	color: blue;
}

.logotipo {
	width: 100px;
	height: 100px;
}
.sectionEpisodios {
	padding: 18px 0;
	border-bottom: solid #BDBDBD 1px;
	background: #E6E6E6;
}

.latest {
	display: inline-block;
	margin: 10px 4px 20px 0;
}
.episodes {
	font-size: 12px;
}


.textoepisodes {
	text-align: center;
}

.imagensuperior {
	width: 100%;
}

.secciondos {
	padding: 50px 0;
	margin: 0;
}
.imagenespequeñas {
	width: 110%;
	display: block;
	padding: 4px;
	border: 1px solid #BDBDBD;
}
.containerSidebar {
	margin-top: 20px;
	margin-bottom: 20px;
}
.containerSidebar2 {
	border-top: 1px solid #BDBDBD;
	padding-top: 20px;
}
.icon {
	width: 12px;
	margin-right: 10px;
}
.linkSidebar {
	display: inline-block;
	margin: 5px 0 5px 0;
}
.col-3 h4 {
	margin-bottom: 15px;
}
.textoepisodes img{
	display: block;
	padding: 4px;
	border: 1px solid #BDBDBD;
	margin-bottom: 5px;
}
.col-3 h3 {
	border-bottom: 1px solid #BDBDBD;
}

footer{
    background-color: #2E2E2E ;
    max-width: 100%;
    height: 100%px;
}
footer a{
   color:#D8DBDA  ;
}
footer p{
   color: #FFFFFF ;
   margin:40px 60px;
   font-size: 15px;
}
.copyright p{
   font-size: 13px;
   color:#D8D8D8  ;
   margin:40px 220px;
   text-align: center;
}
a:hover{
    color:blue;
